.masthead {
  height: 100vh;
  min-height: 500px;
  width: 100%;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
@media screen and (min-width: 601px) {
  .typed {
    font-size: 80px;
    margin: unset !important;
  }
  .lead {
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 600px) {
  .typed {
    font-size: 30px;
  }
}

.lead {
  opacity: 0;
  transition: opacity 1s;
}

.header-title {
  height: 100px;
  padding: 10px;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}

.icon a, .info-icon a {
  color: #fff;
}

.icon {
  font-size: 20px;
  opacity: 80%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.info-icon {
  font-size: 18px;
  color: #fff;
  opacity: 60%;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.badge {
  font-size: unset !important;
}

#skills p {
  margin-top: 30px;
}

.navbar-toggler:focus,.navbar-toggler:active {
  outline: none !important;
  box-shadow: none;
}

.progress > .progress-type {
  position: absolute;
  left: 0;
  font-weight: 600;
  padding: 3px 30px 2px 10px;
  background-color: rgba(10, 10, 10, 0.1);
  color: rgb(255, 255, 255);
  height: inherit;
  line-height: 2.1;
}
.progress-bar {
  line-height: 32px;
}
.progress {
  position: relative;
  height: 30px;
  margin: 10px 0;
}
#vaardigheden p {
  margin-bottom: -5px;
  margin-top: 20px;
}

nav {
  -webkit-box-shadow: 2px -17px 15px 13px rgba(0,0,0,0.56);
  -moz-box-shadow: 2px -17px 15px 13px rgba(0,0,0,0.56);
  box-shadow: 2px -17px 15px 13px rgba(0,0,0,0.56);
}

.profilePicture {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.36);
  box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.36);
}

.card {
  margin: 20px 0;
}

.copyright {
  margin: 10px;
}

_:-ms-fullscreen,:root .lead {
  margin-top: 60px !important;
}

.grecaptcha-badge { visibility: hidden; }
#messageInput { resize: none }

.toast-header {
  border-bottom: none;
  color: #fff;
}

.toast {
  position: fixed;
  bottom: 0;
  left: 10px;
  visibility: hidden;
  background-color: rgba(0,0,0,0);
  border: none;
}

.toast-body {
  background-color: #343a40;
  color: #fff;
}

.popover-body {
  text-align: center;
}

.lang {
  margin-right: 2% !important;
  margin-left: auto !important;
}

.lang-sel {
  margin: 0 !important;
  color: rgba(255,255,255,.5);
}

.lang-opt:hover {
  color: rgba(255,255,255,.75) !important;
}

.lang-opt {
  cursor: pointer;
}
